body{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;

}

#container{
    background-color: rgb(211, 186, 235);
    text-align:center;
}

#container input{
    background-color: aquamarine;
    margin: 18px auto;
    padding: 8px;
    text-align: start;
    border:2px solid purple;
    outline: none;
    width: 120px;
}

button[type = "button"]{
    cursor: pointer;
    font-size: 16;
    font-weight: 800;
    background-color: aqua;
    color: wheat;
}

p{
    color:red;
    font-size: 14px;
    font-weight: 100;
}
































































































































































































































































































































































































